.calender{
    height: 100vh;
    width: 100%;
background-color: rgb(170, 157, 157);
display: flex;
justify-content: center;align-items: center;

}

.calender>div{
height: 70%;
width: 70%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
box-shadow: 4px 3px 5px 3px rgba(51, 51, 51, 0.235);
border-radius: 12px;

}


.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sideconst{
width: 33%;
height: 33%;
background-color: #fff;
box-shadow: 3px 4px 2px 4px rgba(51, 51, 51, 0.491);


}


.in-cal{
    display: flex;
    width: 70%;
    justify-content: space-evenly;

    height: 70%;
    background-color: rgb(113, 52, 52);
}


.cal-right,
.cal-left{

height: 100% ;
width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}


.all-day{
    width: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;

}

.alltime{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
display: flex;
flex-wrap: wrap;

}
.all-day>button{
    margin: 4px;
    padding: 0px;
    border: 2px solid black;
width: 30%;
}
.alltime>button{
   margin: 4px;
    border: 2px solid black;
width: 20%;
}
